*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/vcs.xml
.DS_Store
/build
/captures
.externalNativeBuild

app/src/main/cpp/resource.pak
app/src/main/assets/timestamp.raw
resource/pak
resource/frag.spv
resource/vert.spv
